django==1.11.1
djangorestframework==3.6.3
coverage==4.3.4
sw-django-utils==0.0.35
django-bootstrap3==8.2.3
pyOpenSSL==17.0.0
factory-boy==2.8.1
raven==6.1.0
ipython
gunicorn==19.7.1
django_filter==1.0.4