<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap3 %}

    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <script src="{% static 'ca/js/jquery.js' %}" rel="script"></script>
    <script src="{% static 'ca/js/custom.js' %}" rel="script"></script>
    <script src="{% static 'ca/js/clipboard.min.js' %}" rel="script"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="{% static 'ca/css/style.css' %}" rel="stylesheet">
</head>
<body>

{% block brand %}{% endblock %}

{% include 'ca/main_menu.html' %}

<div class="container">


    {% block content %}

    {% endblock %}

</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Copyright &copy; soft-way.biz</p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>