{% extends 'ca/base.html' %}
{% load bootstrap3 %}

{% block title %}Upload existing key and crt{% endblock %}

{% block page_title %}Uploading existing crt and key files{% endblock %}

{% block content %}

    <div class="row">
        <div class="box">
            <div class="col-sm-12">
                <p class="text-center">
                    <a class="btn btn-default" id="files-upload">Upload via files</a>
                    <a class="btn btn-default" id="textareas-upload">Upload via textareas</a>
                </p>

                <form enctype="multipart/form-data" class="form" method="post">
                    {% csrf_token %}
                    {% bootstrap_form_errors form %}
                    <div id="first-input-button" style="display: none">
                        {% bootstrap_field form.crt_file label_class="btn btn-default btn-file" field_class="hidden-input-field" %}
                    </div>

                    <div id="second-input-button" style="display: none">
                        {% bootstrap_field form.key_file label_class="btn btn-default btn-file" field_class="hidden-input-field" %}
                    </div>

                    <div id="first-textarea" style="display: none">
                        {% bootstrap_field form.crt_text %}
                    </div>

                    <div id="second-textarea" style="display: none">
                        {% bootstrap_field form.key_text %}
                    </div>

                    <div class="form-group text-center">
                            <button type="submit" class="btn btn-default">Submit</button>
                            <button type="submit" class="btn btn-danger">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}