<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link href="https://bootswatch.com/simplex/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}core/css/custom_style.css" rel="stylesheet">

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/node_modules/clipboard/dist/clipboard.min.js"></script>
    <script src="/node_modules/jquery.maskedinput/src/jquery.maskedinput.js"></script>
    <script src="{{ STATIC_URL }}core/js/custom.js"></script>
</head>
<body>

{% block brand %}{% endblock %}

{% block menu %}
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li>
                        {% if root_crt.crt.url %}
                            <a href="{{ root_crt.crt.url }}" title="Download root certificate">CA.crt</a>{% endif %}
                    </li>
                    <li>
                        {% if breadcrumbs %}
                            <div class="breadcrumbs col-sm-12">
                                <ol class="breadcrumb head-breadcrumbs">
                                    {% for label, url in breadcrumbs %}
                                        {% if url %}
                                            <li><a href="{{ url }}">{{ label }}</a></li>
                                        {% else %}
                                            <li class="active">{{ label }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ol>
                            </div>
                        {% endif %}
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right auth-links">
                    {% if user.is_authenticated %}
                        <li>
                            Hello, <strong>{{ user.get_username }}</strong>

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false"><span class="glyphicon glyphicon-cog"
                                                           aria-hidden="true"></span><span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'root_crt_view' %}">View root crt</a></li>
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

{% endblock %}

<footer>
    <div class="col-xs-12 text-center">
        <p class="pull-right copyright">copyright &copy; <a href="http://soft-way.biz" target="_blank">soft-way.biz</a>
        </p>
    </div>
</footer>

</body>
</html>