{% extends 'core/base.html' %}
{% load bootstrap3 %}
{% load djutils %}

{% block title %}Certification authority interface{% endblock %}

{% block page_title %}Certification authority interface{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-6 cn-search">
                    <form class="form-inline" method="get">
                        {% bootstrap_field form.cn show_label=False %}
                        <button type="submit" class="btn btn-default">Search</button>
                    </form>
                </div>
                <div class="col-xs-6 pull-right">
                    <a href="{% url 'create_crt' %}" class="btn btn-primary pull-right new-crt-btn">New .crt</a>
                    <a href="{% url 'upload_existing' %}" class="btn btn-default pull-right">Upload
                        existing</a>
                </div>
            </div>
            <table class="table main-table">
                <tr>
                    <th>#</th>
                    {% sort_th 'cn' 'Common Name' %}
                    {% sort_th 'date_start' 'Created' %}
                    {% sort_th 'date_end' 'Expiring date' %}
                    <th>Download</th>
                </tr>
                {% for object in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'certificates_view' pk=object.pk %}">{{ object.cn }}</a></td>
                        <td class="cn-table-date">{{ object.date_start }}</td>
                        <td class="cn-table-date">{{ object.date_end }}</td>
                        <td><a class="btn btn-default" href="{{ object.crt.url }}">crt</a> <a class="btn btn-default"
                                                                                         href="{{ object.key.url }}">key</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}