{% extends 'core/base.html' %}
{% load bootstrap3 %}

{% block page_title %}Authentification{% endblock %}

{% block menu %}
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li>
                        {% if root_crt.crt %}
                            <a href="{% url 'root_crt_download' %}" title="Download root certificate">CA.crt</a>{% endif %}
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-center">
                    <li class="active"><strong class="brand-name">{{ brand }}</strong></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-xs-7 col-xs-offset-2">
            <div class="row">
                <form class="form-horizontal auth-form" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form layout='horizontal' horizontal_field_class='col-xs-8' horizontal_label_class='col-xs-4' %}
                    <div class="form-group">
                        <div class="col-xs-2 col-xs-offset-6">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}