{% extends 'core/base.html' %}
{% load bootstrap3 %}

{% block title %}
    Authentification
{% endblock %}

{% block page_title %}Authentification{% endblock %}

{% block menu %}

{% endblock %}

{% block content %}
        <div class="container">
            <div class="col-xs-6 col-xs-offset-3">
                <div class="row">
                    <form class="form-horizontal auth-form" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form layout='horizontal' horizontal_field_class='col-xs-8' horizontal_label_class='col-xs-4' %}
                    <div class="form-group">
                        <div class="col-xs-2 col-xs-offset-6">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
{% endblock %}