{% extends 'core/base.html' %}
{% load bootstrap3 %}

{% block title %}Upload existing key and crt{% endblock %}

{% block page_title %}Uploading existing crt and key files{% endblock %}

{% block content %}
    <div class="box">
        <div class="container">
        <div class="row">
            <div class="col-sm-12" style="margin-top: 5rem">
                <p class="text-center">
                    <a class="btn btn-default" id="files-upload">Upload via files</a>
                    <a class="btn btn-default" id="textareas-upload">Upload via textareas</a>
                </p>

                <form enctype="multipart/form-data" class="form" method="post">
                    {% csrf_token %}
                    {% bootstrap_form_errors form %}
                    <div class="raw">
                    <div id="first-input-button" style="display: none">
                        {% bootstrap_field form.crt_file layout='horizontal' label_class="btn btn-default btn-file" field_class="hidden-input-field" form_group_class='col-sm-6 text-center' %}
                    </div>

                    <div id="second-input-button" style="display: none">
                        {% bootstrap_field form.key_file layout='horizontal' label_class="btn btn-default btn-file" field_class="hidden-input-field" form_group_class='col-sm-6 text-center' %}
                    </div>
                    </div>

                    <div id="first-textarea" style="display: none">
                        {% bootstrap_field form.crt_text show_label=False field_class='not-resize' %}
                    </div>

                    <div id="second-textarea" style="display: none">
                        {% bootstrap_field form.key_text show_label=False field_class='not-resize'%}
                    </div>

                    <div class="form-group text-center col-sm-12">
                            <button type="submit" class="btn btn-default">Submit</button>
                            <button type="submit" class="btn btn-danger">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>

{% endblock %}