{% extends 'core/base.html' %}
{% load bootstrap3 %}

{% block page_title %}Generating a new root key{% endblock %}

{% block content %}

    <div class="container">
        <div class="col-xs-12">
            <form class="form-horizontal col-xs-8 col-xs-offset-1" method="post">
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal' field_class='col-xs-7' label_class='col-xs-5' %}
                <div class="form-group">
                    <div class="col-xs-offset-5 col-xs-7">
                        <button type="submit" class="btn btn-default">Generate</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

{% endblock %}