{% extends 'core/base.html' %}
{% load bootstrap3 %}

{% block title %}View root crt{% endblock %}

{% block page_title %}Root .crt file fields{% endblock %}

{% block content %}

    <div class="container">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-5">
                    <div class="well"><strong>County:</strong> {% if cert.C %}{{ cert.C }}{% endif %}</div>
                    <div class="well"><strong>State:</strong> {% if cert.ST %}{{ cert.ST }}{% endif %}</div>
                    <div class="well"><strong>Location:</strong> {% if cert.L %}{{ cert.L }}{% endif %}</div>
                    <div class="well"><strong>Organization:</strong> {% if cert.O %}{{ cert.O }}{% endif %}</div>
                    <div class="well"><strong>OrgUnitName:</strong> {% if cert.OU %}{{ cert.OU }}{% endif %}</div>
                    <div class="well"><strong>CommonName:</strong> {% if cert.CN %}{{ cert.CN }}{% endif %}</div>
                    <div class="well"><strong>Email:</strong>
                        {% if cert.emailAddress %}{{ cert.emailAddress }}{% endif %}</div>
                    <div class="well"><strong>Expiration date:</strong> {{ crt_validity_period }}</div>
                </div>
                <div class="col-xs-7">
                    {% bootstrap_field form.crt show_label=False field_class='view-crt-txtarea' %}
                    <button class="btn btn-default" id="copy-to-clipboard"
                            data-clipboard-target="#id_crt"><i
                            class="glyphicon glyphicon glyphicon-copy"></i></button>
                    {% bootstrap_field form.key show_label=False field_class='view-crt-txtarea' %}
                    <button class="btn btn-default" id="copy-to-clipboard-2"
                            data-clipboard-target="#id_key"><i
                            class="glyphicon glyphicon glyphicon-copy"></i></button>
                </div>
            </div>

            <div class="text-center col-xs-12">
                <div class="row">
                    <a href="{% url 'index' %}" role="button" class="btn btn-success pull-right submit-view-crt-btn">Submit</a>
                    <a href="{% url 'recreation_crt' pk=object.pk %}" role="button"
                       class="btn btn-default pull-right">Re-creation</a>
                    <a href="{% url 'delete_crt' pk=object.pk %}" role="button"
                       class="btn btn-danger pull-left">Delete</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}