textarea {
    resize: none;
}

/* navbar */
.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar-brand {
    line-height: 1.7rem;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.breadcrumb {
    margin: 0.3rem 0 0 0;
    background-color: #e5e5e5;
}

.brand-name {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.auth-links li>strong,
.auth-links .dropdown-toggle {
    display: inline-block;
}

.dropdown {
    background-color: inherit;
    color: inherit;
    display: inline-block;
}

.gear-btn .glyphicon-cog {
    margin-right: 0.5rem;
}

.gear-btn:hover {
    color: black;
}

/* content */
.cn-search {
    margin-bottom: 2rem;
}

.main-table td,th {
    text-align: center;
}

.main-table td:first-of-type,
.main-table th:first-of-type {
    text-align: right;
}

.main-table tr>td {
    vertical-align: middle !important;
}

.new-crt-btn {
    margin-left: 1rem;
}

.upload-existing-crt-btn,
.upload-existing-key-btn {
    margin: 0 0 1rem 0;
}

.auth-form {
    margin-top: 5rem;
}

#copy-to-clipboard {
    position: absolute;
    top: 1rem;
    right: 3.5rem;
    z-index: 10;
}

#copy-to-clipboard-2 {
    position: absolute;
    top: 20.5rem;
    right: 3.5rem;
    z-index: 10;
}

.view-crt-txtarea textarea {
    height: 18rem;
}

.submit-view-crt-btn {
    margin-left: 1rem;
}

.well {
    padding: 0.9rem;
    margin-bottom: 1rem;
}

.has-root-key-btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/* footer */
footer {
    margin-top: 2rem;
}

