{% extends 'ca/base.html' %}

{% block title %}Certification authority{% endblock %}

{% block page_title %}Do you have a <strong>CA root</strong> key ?{% endblock %}

{% block content %}
    <div class="box">
        <div class="container">
            <div class="col-sm-12">
                <p class="text-center">
                    <a class="btn btn-default" href="{% url 'has_root_key' %}" role="button">Yes</a>
                    <a class="btn btn-default" href="{% url 'no_root_key' %}" role="button">No</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}