{% extends 'ca/base.html' %}
{% load bootstrap3 %}

{% block title %}
    Generating root key
{% endblock %}

{% block page_title %}Generating a new root key{% endblock %}

{% block content %}

    <div class="box">
        <div class="">
            <div class="col-sm-12">
                <form class="form col-sm-6 col-lg-6 no-root-key-form" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form layout='horizontal' field_class='col-lg-7' %}
                    <div class="form-group">
                        <div class="col-sm-offset-5 col-sm-12">
                            <button type="submit" class="btn btn-default">Generate</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

{% endblock %}