{% extends 'ca/base.html' %}

{% block title %}Root doesn't exist{% endblock %}

{% block content %}

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Root .key and .crt don't exist!</h2>
                <hr>
                <hr class="visible-xs">
                <p class="text-center">You can create it by clicking this <a href="{% url 'index_root' %}">link</a>.</p>
            </div>
        </div>
    </div>

{% endblock %}