{% extends 'core/base.html' %}
{% load bootstrap3 %}

{% block title %}Certificate recreation{% endblock %}

{% block content %}

    <div class="box">
        <div class="container">
            <div class="col-sm-12">
                <h2 class="intro-text text-center">Recreate <strong>.crt</strong> file</h2>
                <form class="form form-horizontal col-sm-8 col-sm-offset-2" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form layout='horiznontal' label_class='col-sm-7' field_class='col-sm-5'%}
                    <div class="form-group">
                        <div class="col-sm-offset-5 col-sm-2">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}