{% extends 'core/base.html' %}
{% load bootstrap3 %}

{% block page_title %}Uploading existing crt and key files{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-sm-12 upload-existing">
            <form enctype="multipart/form-data" class="form" method="post">
                {% csrf_token %}
                {% bootstrap_form_errors form %}
                <div class="row">
                    <div class="col-xs-6">
                        {% bootstrap_field form.crt_file layout='horizontal' form_group_class='col-xs-12 upload-existing-crt-btn' field_class='pull-right' label_class='pull-left' %}
                        {% bootstrap_field form.crt_text show_label=False %}
                    </div>

                    <div class="col-xs-6">
                        {% bootstrap_field form.key_file layout='horizontal' form_group_class='col-xs-12 upload-existing-key-btn' field_class='pull-right' label_class='pull-left' %}
                        {% bootstrap_field form.key_text show_label=False %}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group text-center col-xs-12">
                        <button class="btn btn-danger pull-left">Cancel</button>
                        <button type="submit" class="btn btn-primary pull-right">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}